<?xml version='1.0' encoding='utf-8'?><widget id="com.your.company.ChromeModbusExample01" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chrome Modbus Example 01</name>
    <description>Chrome Modbus Example</description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">Author Name &lt;a@b.com></author>
    <content src="plugins/org.chromium.bootstrap/chromeapp.html"/>
    
<preference name="android-minSdkVersion" value="14"/></widget>